td {
    border: 2px solid black; 
    color: black;
    height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive ,sans-serif;
    font-size: 70px;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top:50px;
}


.endgame{
    width: 200px;
    top: 120px;
    background-color: peru;
    position: absolute;
    left: 51.5%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 3em;
}

.wrapper {
    text-align: center;
    margin-top: 25%;    
}

.button {
    background-color: rgb(138, 43, 226);
    border: 1px solid black;
    color: white;
    margin-left: 4%;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

